html, body{
  margin: 0px;
}

/* Cabeçalho */
header{
  margin: 0px;
  text-align: center;
}

.topo{
  width: 100%;
  background-color: #000;
}

.logo{
  padding: 10px;
  width: 900px;
  margin: auto;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 18px;
  text-align: left;
}

.infos{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  float: right;
}

.infos a, .infos a:hover, .infos a:visited{
  color:#FFF;
  text-decoration: none;
}

.botao, .botao:visited{
  background-color: #FFF;
  color: #000 !important;
  padding: 5px 12px 5px 10px;
}

.botao:hover{
  background-color: #A9A9A9;
  color: #FFF;
}

.telefone, .reserva{
  padding-left: 20px;
}

header nav ul{
  list-style-type: none;
}

header nav ul li{
  display: inline;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  padding: 20px;
}

header nav ul li a, header nav ul li a:visited{
  color: #000;
  text-decoration: none;
  transition: color 0.5s;
}

header nav ul li a:hover{
  color: #b5876d;
}


/* Area */
.area{
  width: 100%;
  background-image: url('../img/capa_hotel_04.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height:500px;
  text-align: center;
  vertical-align: bottom;
}

.reserva{
  width: 900px;
  color: #FFF;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.reserva form{
  background-color: rgba(181, 135, 109, 0.8);
  margin-top:450px;
  padding-top: 25px;
  padding-bottom: 25px;
  box-shadow: 12px 12px 14px #000000;
}
.reserva div{
  display: inline-block;
  padding-left: 15px;
}

.reserva input, .reserva select{
  width: 90px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border: 0 none;
  color: #626262;
  padding-left: 10px;
}

.reserva input:hover, .reserva select:hover{
  border-color: 1px solid #FF0000;
}

.btn-pesquisa{
  background-color: #FFF;
  color: #000;
  font-family: "Raleway",sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  transition: background-color 1.0s linear, color 1.0s linear;
  border-color: #b5876d;
  width: 150px !important;
}

.btn-pesquisa:hover{
  color: #FFF;
  background-color: #000;
}

.pesquisa{
  background-color: #FFF;
  color: #000 !important;
  width: 100px;
  border: 0px;
}

/* serviços */
.servicos{
  width: 900px;
  color: #000;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-align: center;
  padding-top:100px;
}

.servicos div{
  display: inline-block;
  padding: 20px;
}

.wifi, .estacionamento, .aeroporto, .limpeza{
  transition: color 0.5s linear;
  -webkit-transition: color 0.5s linear;
}

.wifi:hover, .estacionamento:hover, .aeroporto:hover, .limpeza:hover{
  color: #454656;
}

.maps{
  width: 900px;
  color: #000;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-align: center;
}

.maps .texto, .maps .embed{
  width: 50%;
  float: left;
  text-align: left;
}


.elogios{
  width: 900px;
  color: #000;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-align: center;
}

.elogios .coluna_01, .elogios .coluna_02{
  width: 50%;
  float: left;
  text-align: left;
}

.right{
  text-align: right;
}

.usuarios{
  font-style: italic;
  padding-top: 15px;
}

/* Contato */
.contato{
  float: left;
  width: 50%;
}

.mapa{
  float: left;
  width: 50%;
}

.mapa iframe{
  max-width: 100%;
}


/* Clear */
.clear{
  clear: both;
}

/* Resultados reserva */
.resultado{
  width: 900px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #000;
  padding:20px;
  background-color: rgba(181, 135, 109, 0.8);
}



/* Footer */
footer{
  margin-top: 100px;
  background-color: #000;
  height: 150px;
  color: #FFF;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  vertical-align: top;
}

footer .rodape{
  width: 900px;
  margin: auto;
}

footer .rodape div{
  padding:20px;
}

footer .coluna_01, footer .coluna_02, footer .coluna_03{
  width: 25%;
  float: left;
}


@media only screen and (max-width: 500px) {

}
