html, body{
  margin: 0px;
}

header{
  margin: 0px;
  text-align: center;
}

.topo{
  width: 100%;
  background-color: #000;
}

.logo{
  padding: 10px;
  width: 900px;
  margin: auto;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 18px;
  text-align: left;
}

.infos{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  float: right;
}

.infos a, .infos a:hover, .infos a:visited{
  color:#FFF;
  text-decoration: none;
}

.botao, .botao:visited{
  background-color: #FFF;
  color: #000 !important;
  padding: 5px 12px 5px 10px;
}

.botao:hover{
  background-color: #696969;
  color: #FFF;
}

.telefone, .reserva{
  padding-left: 20px;
}

header nav ul{
  list-style-type: none;
}

header nav ul li a, header nav ul li a:visited, header nav ul li a:hover{
  color: #FFF;
  text-decoration: none;
}

/* Contato */
.contato{
  float: left;
  width: 50%;
}

.mapa{
  float: left;
  width: 50%;
}

.mapa iframe{
  max-width: 100%;
}


/* Footer */

footer{
  background-color: #000;
  color: #FFF;
  text-align: center;
}

footer div{
  padding:20px;
}

.clear{
  clear: both;
}

@media only screen and (max-width: 500px) {

}
