body{
  margin: 0px;
  font-family: 'Open Sans', 'sans-serif';
}

/* Header */
header{
  margin: 0px;
  text-align: center;
}

.topo{
  width: 100%;
  background-color: #000;
}

.logo{
  padding: 10px;
  width: 900px;
  margin: auto;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 18px;
  text-align: left;
}

.infos{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  float: right;
}

.infos a, .infos a:hover, .infos a:visited{
  color:#FFF;
  text-decoration: none;
}

.botao, .botao:visited{
  background-color: #FFF;
  color: #000 !important;
  padding: 5px 12px 5px 10px;
}

.botao:hover{
  background-color: #A9A9A9;
  color: #FFF;
}

.telefone, .reserva{
  padding-left: 20px;
}

/* Cadastro */
.container{
  width: 900px;
  margin: auto;
}

form {
    display: block;
    clear: both
}
form .form-group {
    margin-bottom: 1em
}

/* Label */
fieldset{
  padding: 1.5em;
  border: 1px solid #ccc;
}

fieldset legend {
  font-size: 18px;
  padding: 0.5em;
  color: #555
}

label{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  display: block;
  margin-bottom: 0.5em;
  color: #555;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select{
  padding: 0.5em;
  border: 1px solid #ccc;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #555;
}

input[type="submit"]{
  background-color: rgba(0,0,0,1);
  -webkit-appearance: button;
  cursor: pointer;
  padding: 0.6em 0.9em;
  font-size: 18px;
  margin: 0 0 1em;
  color: #FFF;
  transition: background-color 1s;
}

input[type="submit"]:hover{
	background-color: rgba(0,0,0,0.8);
}

.larg_20{
  width: 20%;
  float: left;
  padding: 6px;
  box-sizing: border-box;
}

.larg_40{
  width: 40%;
  float: left;
  padding: 6px;
  box-sizing: border-box;
}

.larg_50{
  width: 50%;
  float: left;
  padding: 6px;
  box-sizing: border-box;
}

.larg_60{
  width: 60%;
  float: left;
  padding: 6px;
  box-sizing: border-box;
}

.larg_80{
  width: 80%;
  float: left;
  padding: 6px;
  box-sizing: border-box;
}

.larg_100{
  width: 100%;
  float: left;
  padding: 6px;
  box-sizing: border-box;
}

.enviar{
  clear: both;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

/* Validação */
.msg{
  width: 100%;
}

.erro{
  color: #FF0000;
  display: none;
}

/*
  Página de Mensagem
*/
.sucesso{
  background-color: rgba(181, 135, 109, 1);
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
  color: #000;
  font-size: 12px;
}

.sucesso h1{
  padding: 20px 20px 0px 20px;
  margin-bottom: 0px;
}

.dados{
  padding: 20px;
}

.clear{
 clear: both;
}
/* Footer */
footer{
  margin-top: 100px;
  background-color: #000;
  height: 150px;
  color: #FFF;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  vertical-align: top;
}

footer a, footer a:visited, footer a:hover{
  color: #FFF;
  text-decoration: none;
}

footer .rodape{
  width: 900px;
  margin: auto;
}

footer .rodape div{
  padding:20px;
}

footer .coluna_01, footer .coluna_02, footer .coluna_03{
  width: 25%;
  float: left;
}

@media only screen and (max-width: 900px) {
  .logo{
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
    text-align: center;
  }

  .container form{
    width:100%;
    margin: auto;
  }

  .infos{
    float: none !important;
  }

  .reserva, .email, .telefone{
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .reserva{
    padding-bottom: 15px;
  }

  .tipo_logradouro{
    width: 100%;
  }

  .logradouro{
    width: 80%;
  }

  .erro{
    font-size: 11px;
  }

  label{
    font-size: 11px;
    white-space: nowrap;
  }

  footer{
    margin-top: 50px;
    height: auto !important;
  }

  footer .rodape, .container{
    width: 100% !important;
  }

  footer .coluna_01, footer .coluna_02, footer .coluna_03{
    width: 80%;
    margin: auto;
    float: none !important;
  }
}
